<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Admin Rewards</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <!-- <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>

    <form [formGroup]="registerForm" (ngSubmit)="createRewards(registerForm.value)">
      <ion-card>

        <ion-card-header>
          <ion-card-subtitle style="font-size: 20px;text-align: left;">Create Coupons</ion-card-subtitle>
          <ion-card-title></ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-grid>
            <ion-row color="primary" justify-content-center>
              <ion-col align-self-center size-md="10" size-lg="10" size-xs="12">
                <ion-item>
                  <ion-label position="floating">Coupon ID</ion-label>
                  <ion-input name="rewardId" readonly formControlName="rewardId" type="rewardId"  placeholder="rewardId" ngModel required></ion-input>
                </ion-item>
                  <ion-item>
           <ion-label>Catgory</ion-label>
                      <ion-select  formControlName="catgory"  (ionChange)="onSelectChange($event)">
             <ion-select-option  *ngFor="let currState of catgories" [value]="currState">{{ currState }}</ion-select-option>
           </ion-select>
         </ion-item>

         <ion-item>
         <ion-label>Plans</ion-label>
         <ion-select  formControlName="plans" (ionChange)="onSelectChangeTwo($event)">
           <ion-select-option *ngFor="let plan of allPlans" [value]="plan">{{ plan }}</ion-select-option>
         </ion-select>
       </ion-item>
       <ion-item>
         <ion-label position="floating">Prefix</ion-label>
         <ion-input name="prefix" formControlName="prefix" type="firstName" placeholder="Prefix" ngModel required></ion-input>

       </ion-item>
       <ion-item>
         <ion-label position="floating">Description</ion-label>
         <ion-input name="description" formControlName="description" type="firstName" placeholder="Description" ngModel required></ion-input>

       </ion-item>


              </ion-col>
            </ion-row>
          </ion-grid>


        </ion-card-content>
      </ion-card >


      <div padding style="margin-top: 20px;text-align: center;">
        <ion-button type="submit" [disabled]="registerForm.invalid" >Create Coupon</ion-button>
      </div>

    </form>

    <!-- <ngx-qrcode
  [elementType]="elementType"
  [value]="value"
  cssClass="aclass"
  errorCorrectionLevel="L">
</ngx-qrcode>

    <ion-input type="text" [(ngModel)]="qrCode"></ion-input>
    <ion-button (click)="createCode()">Code</ion-button>

    <ion-card *ngIf=createdCode>
      <ngx-qrcode [elementType]="elementType"
      [value]="value"
      cssClass="aclass">
      </ngx-qrcode>
    <ion-card-content>
      <p>Value :{{createdCode}}</p>
        </ion-card-content>


  </ion-card> -->

  </ion-content>
</ion-app>
