
    <ion-card>
       <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col>
        <h5>    Main Course Offer </h5>
          </ion-col>
          <ion-col>
        <h5>  BUY 1 GET 1 </h5>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
       Pay for One Main Course and Get One Main Course Of the same or lesser value Of your choice.<br/>
       Higher value items will be charged and lesser value will be complimentry.

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <h6>  Expires On:Feb 2,2021 </h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <h4>
            Use Code:Coup001

            T & C Applicable
          </h4>
          <ion-col>
<img src="assets/img/scan.jpg"/>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card>
