<ion-header translucent>
  <ion-toolbar>
    <ion-title>Rewards List</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-item lines="none">
<ion-button routerLink='/admin-rewards'>ADD Rewards</ion-button>
</ion-item>
<ion-card>
<!-- <ion-searchbar   slot="end" (keyup)='updateFilter($event)'  placeholder="Search by Path Request"></ion-searchbar> -->
<input
         #search
         id="search"
         type="text"
         class="form-control"
         placeholder="Search"
         aria-label="Search"
         aria-describedby="basic-addon1"
       />
<ngx-datatable
class="bootstrap ngx-datatable"
  [limit]="5"
  [rows]="rows"
  [rowHeight]="'auto'"
  [columns]="columns"
  [columnMode]="'force'"
  [sortType]="'multi'"
  [headerHeight]="50"
  [footerHeight]="50">
</ngx-datatable>
</ion-card>
</ion-content>
