ion-toolbar{
    font-family:  system-ui;
    font-size: 18px;
    font-weight: 600;
}

ion-content{
  padding: 35px;
    color: black;
    font-size: 15px;
    font-family: system-ui;
    font-weight: 600;
}
p{
  padding: 10px;
}
