<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    Terms & Conditinos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
  <p> 1. Valid at Denissons – Hotel – Convention – Spa at 110, Dollars Colony, Airport Road, Chaitanya Nagar,
  Rajendera Nagar, Hubballi.</p>
    <p>2. This offer cannot be combined with any other discount, coupon or advertised special or other Schemes /
  offers. </p>
  <p>  3. Valid till a year from subscription Date. </p>
  <p>  4. Any and all offers are only for the utilization and means only benefit which specifically says these offers
  don’t have any cash value. </p>
  <p>  5. Room Reservations to be done at least 10 (Ten) days in advance and all Reservation subject to availability. </p>
  <p>  6. All the Offers are only valid for Dine-in only. Offers will not be valid on room services. Only valid in
  restaurant. Offers are not valid on Indian Breads (Roti), all types of rice, Salads, or any other side
  accompaniments except gift certificate. </p>
  <p>  7. All Discount are based on Published menu Prices. </p>
  <p>  8. A menu item purchase is necessary for validity and utilization of each coupon offer except the offers where
  stating absolutely complimentary. </p>
  <p>  9. Mandatory Govt. applicable Taxes and service charges will be extra. Taxes will applicable under the
  provision of GST. (In Hospitality Industry Taxes depends on venue and type of function.)
  <p>  10. Prices and menu items are subject to change without notice. </p>
  <p>  11. The Preferred Dining Card is non-refundable and lost cards cannot be replaced. Cards once sold can’t be
  refunded. Both Hotel and Company specifically denies any and all such queries. </p>
    <p>12. All Reservations are subject to availability. </p>
  <p>  13. In the event of any dispute or misunderstanding arising out of interpretation of any of the offers, the hotel
  management decision shall be final and binding on the card holder. </p>
  <p>  14. Please carry your Preferred Dining Card to the respective outlets and present the relevant coupon/s at the
  time of placing the order. The offer will not be entertained otherwise. Only the physical coupons will be
  valid no soft copy or images of the coupons are allowed. </p>
    <p>15. The Management of hotel reserve the right to accept or deny any queries outside the purview of the said
  offers as mentioned and embodied within the Rules of Use. </p>
    <p>16. Gift coupons cannot be clubbed with any other coupon / Discount Voucher. </p>
  <p>  17. Only one customer ID will be entertained per visit / per table / per transaction / per group. Two or more
  Customer ID is not valid together on the same table. </p>
  <p>  18. All Coupons of a respective section can be used in a single visit. </p>
  <p>  19. No verbal agreements shall be accepted. </p>
  <p>  20. Any and all offers are only valid for the kind. It clearly says that there is no cash value of any and all offers.
  The company and the hotel both specifically deny accepting any and all such quires.  </p>
  </ion-card>
</ion-content>
