<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Contact Us
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen class="ion-padding">

    <h5>Customer Support :</h5>
    <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>Send Us a Message</p>
            <p> +91 836 2377 777</p>
        </ion-col>
        <ion-col  style="text-align: right;">
          <ion-icon size="large" name="chatbubble-ellipses"></ion-icon>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
          <p>Call Us</p>
          <p> +91 836 2377 777</p>
        </ion-col>
        <ion-col  style="text-align: right;">
          <ion-icon size="large" name="call"></ion-icon>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
          <p>Send a Mail</p>
          <p> enquiry@denissonshotel.com</p>
        </ion-col>
        <ion-col style="text-align: right;">
        <ion-icon size="large" name="mail"></ion-icon>
        </ion-col>

      </ion-row>

    </ion-grid>
    </ion-card>
    <h5>Address Info :</h5>
    <ion-card>
    <ion-grid>
          <ion-row>
        <ion-col>
          <p> 110, Dollars Colony, Airport Road,</p>
            <p> Chaitanya Nagar, Rajendra Nagar </p>
<p>Hubli Karnataka India.</p>
        </ion-col>
            </ion-row>

    </ion-grid>
    </ion-card>
  </ion-content>
