ion-toolbar{
    font-family:  system-ui;
    font-size: 18px;
    font-weight: 600;
}
h4
{
  margin-left:20px;
  font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.25;
    letter-spacing: -.3px;
    color: #361968;
    margin-bottom: 0;
}
h5
{
  text-align: center;
  margin-top: 30px;
  font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.25;
    letter-spacing: -.3px;
    color: #361968;
    margin-bottom: 0;
}
ion-row{
    text-align: center;
}

ion-icon{
  color:blue;
  margin-top: 25px;
}
ion-toolbar{
    font-family:  system-ui;
    font-size: 18px;
    font-weight: 600;
}
