
    <ion-card>
       <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col>
        <h5>   {{rewardsList [0]['plans']}}</h5>
          </ion-col>
          <ion-col>
        <h5> {{rewardsList[0]['prefix']}}</h5>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
      {{rewardsList[0]['description']}}

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <h6>  Expires On:Feb 2,2021 </h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Use Code:{{rewardsList[0]['rewardId']}}

            T & C Applicable
          </ion-col>
          <ion-col>
            <ngx-qrcode [value]="value" cssClass="aclass">
            </ngx-qrcode>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card>
