<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding">
    <form [formGroup]="registerForm" (ngSubmit)="updateUser(registerForm.value)">
      <ion-card>

        <ion-card-header>
          <ion-card-subtitle style="font-size: 20px;text-align: left;">
            <ion-item lines="none">
              <ion-thumbnail>
                <img src="{{profileImageUrl}}" height="100px">
              </ion-thumbnail>

            </ion-item>
          </ion-card-subtitle>
          <ion-card-title></ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-grid>
            <ion-row color="primary" justify-content-center>
              <ion-col align-self-center size-md="8" size-lg="12" size-xs="12">
                <div text-center>
                </div>
                <div padding>


                  <ion-item>
                    <ion-label slot="start">First Name</ion-label>
                    <ion-input formControlName="firstName" type="firstName" placeholder="First Name" required></ion-input>

                  </ion-item>
                  <ion-item>
                    <ion-label slot="start">Phone Number</ion-label>
                    <ion-input formControlName="phoneNumber" type="PhoneNumber" placeholder="Phone Number" required></ion-input>

                  </ion-item>
                  <ion-item>
                    <ion-label slot="start">Email ID</ion-label>
                    <ion-input type="email" formControlName="email" placeholder="your@email.com" readonly ></ion-input>

                  </ion-item>
                  <ion-item>
    <ion-label slot="start">Birth Date</ion-label>
    <ion-datetime  slot="start" displayFormat="MM DD YY" formControlName="birthDate"></ion-datetime>
  </ion-item>
                </div>
              </ion-col>
            </ion-row>

          </ion-grid>



        </ion-card-content>
      </ion-card>
      <div padding style="margin-top: 20px;text-align: center;">
        <ion-button type="submit" [disabled]="registerForm.invalid">Update</ion-button>
      </div>

    </form>

  </ion-content>
