<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding">

      <ion-item lines="none">
        <ion-thumbnail >
          <img  src="{{profileImageUrl}}" height="100px">
        </ion-thumbnail>

      </ion-item>

      <ion-item  >
        <ion-icon name="person-sharp" slot="start"></ion-icon>
        <ion-label> {{profile ? profile.firstName : "firstName"}}    </ion-label>
      </ion-item>

      <ion-item  class="ion-activated">
        <ion-icon name="calendar-sharp" slot="start"></ion-icon>
        <ion-label>{{profile ? profile.birthDate : ""}}</ion-label>
      </ion-item>

      <ion-item >
        <ion-icon name="mail-sharp" slot="start"></ion-icon>
        <ion-label> {{profile ? profile.email : ""}}
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-icon name="call-sharp" slot="start"></ion-icon>
        <ion-label> {{profile ? profile.phoneNumber : ""}}
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-icon name="home-sharp" slot="start"></ion-icon>
        <ion-label>{{profile ? profile.address : ""}}
        </ion-label>
      </ion-item>



    <div class="mid">
      <ion-button class="submit-btn" >Edit Profile</ion-button>
    </div>
  </ion-content>
