<ion-app>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>
     </ion-buttons>
    <ion-title>
About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="true">
<ion-card>
  <ion-slides [options]="slideOptsOne">

    <ion-slide>
      <div class="slide">
            <img src="assets/img/deni1.jpg"/>
          </div>
    </ion-slide>
    <ion-slide>
              <img src="assets/img/deni2.jpg"/>
          </ion-slide>
    <ion-slide>
          <img src="assets/img/deni3.jpg"/>
          </ion-slide>
      <ion-slide>
      <img src="assets/img/deni4.jpg"/>
          </ion-slide>
      </ion-slides>
      </ion-card>
      <h4 style="text-align: center;">ABOUT DENISSONS HOTEL</h4>
      <h5 style="text-align: center;"> A brand new experience in hospitality.</h5>
      <p>
      Located in the central business district and well connected to the
      city's main attractions it's a perfect location to
      mix business with pleasure. Luxurious space, imposing contemporary architecture and a larger
      than life profile for services and amenities adds to the experience extraordinaire.
   </p>
   <p>
     Make yourself at home, enjoy a spa day or walk into your business meetings or
      stroll in for a satiating luncheon and divine dinners; better still host your own
      with our personal touch. Whatever you chose to do, Denissons offers an unparalleled experience.
  </p>
</ion-content>
</ion-app>
