<ion-app>

    <ion-menu side="start" menuId="first" contentId="content1">
      <ion-header class="ion-no-border">
       <ion-toolbar>
         <ion-item>
           <ion-avatar>
             <img
               src="{{profileImageUrl}}"/> </ion-avatar>
           <ion-list>
             <ion-label>{{ userName }}</ion-label>
             <ion-label color="primary" routerLink="/profile">Profile</ion-label>
           </ion-list>
           <ion-buttons slot="end">
             <ion-menu-button></ion-menu-button>
           </ion-buttons>
         </ion-item>
       </ion-toolbar>
     </ion-header>
        <ion-content>
          <ion-list >
          <ion-menu-toggle auto-hide="true">
            <ion-item  [showFor]="page.roleValue" *ngFor="let page of allpages"  lines="none" [routerLink]="page.url" routerDirection="forward">
                <ion-icon [name]="page.icon" slot="start"></ion-icon>
                   {{page.title}}
            </ion-item>
          </ion-menu-toggle>
          </ion-list>
          <ion-item   >
                 <ion-icon slot="start" name="log-out" ></ion-icon>
                 <ion-label  (click)="signoutUser()" > Log Out</ion-label>
             </ion-item>
        </ion-content>
      </ion-menu>

  <ion-router-outlet id="content1"></ion-router-outlet>

</ion-app>
