<ion-header translucent>
  <ion-toolbar>
    <ion-title>Member List</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
<ion-button routerLink='/add-member'>ADD Member</ion-button>
</ion-item>
</ion-content>
