<ion-card scrollX="true">
   <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h5> {{dealList[0].plans}} </h5>
      </ion-col>
      <ion-col>
        <h5> {{dealList[0].prefix}} </h5>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        {{dealList[0].description}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <h6>{{dealList[0].catgory}} ({{dealList[0].time}})</h6>
      </ion-col>
    </ion-row>
    <ion-button expand="block"  (click)="buyNow()">
      PAY NOW
    </ion-button>
  </ion-grid>

</ion-card>
