<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
   History
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment  >
    <ion-segment-button value="available">
      <ion-label>Coupons History</ion-label>
    </ion-segment-button>
    <ion-segment-button value="used">
      <ion-label>Payments History</ion-label>
    </ion-segment-button>
    </ion-segment>

</ion-content>
