<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen scroll-y="true">
    <ion-list-header  color="light" >Notifications</ion-list-header>
    <ion-card>
      <ion-icon size="large" name="notifications-circle-outline"></ion-icon>
      <ion-card-content>
        <h3> Offer ends at midnight</h3>
        <p>if Youe're fast,you can avail BUY 1 GET 1 | Valid On Drinks </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-icon size="large" name="notifications-circle-outline"></ion-icon>
      <ion-card-content>
        <h3> Offer ends at midnight</h3>
        <p>if Youe're fast,you can avail BUY 1 GET 1 | Valid On Drinks </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>
