<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Dash Board</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Membership Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="highcharts" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Coupons Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="simplePie" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>

</ion-content>
