<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Refer & Earn</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <!-- <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>
<ion-content fullscreen class="ion-padding" scroll-y="true" >
  <ion-grid>
    <ion-row style="margin-top: -10px">
         <ion-col>
           <div>Total Rewards </div>
            <div>  5 Coupons</div>

         </ion-col>
         <ion-col>
           <div>Used Rewards</div>
            <div>  3 Coupons</div>
         </ion-col>
       </ion-row>

    </ion-grid>
        <ion-card>
          <ion-grid style="text-align: center;">
            <ion-row>
              <ion-col>
              <img src="assets/img/ref1.png"/>
              </ion-col>
            </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text>
                  <h5>Invite your friends and get bonus coupons</h5>
                    </ion-text>
                <ion-label >ABCD12345</ion-label> <span><ion-icon  size="small" name="copy-outline"></ion-icon></span>

                  <p>  Share your Code with Your friends. and get exciting bonus Coupons </p>
                    <ion-button >Refer</ion-button>
                </ion-col>
                </ion-row>
        </ion-grid>

        </ion-card>





  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
      <ion-icon size="large"  name="logo-facebook"></ion-icon>
      </ion-col>
      <ion-col>
      <ion-icon size="large" name="logo-instagram"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon size="large" name="logo-whatsapp"></ion-icon>
      </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
        <ion-icon  size="large" name="logo-linkedin"></ion-icon>
        </ion-col>
        <ion-col>
      <ion-icon   size="large" name="logo-twitter"></ion-icon>
        </ion-col>
        <ion-col>
        <ion-icon size="large" name="person-add"></ion-icon>
        </ion-col>
        </ion-row> -->
</ion-grid>

<ion-button expand="block">Share</ion-button>
</ion-content>

</ion-app>
